//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Num         1
#define Sym         2
#define Nav         3
#define Media       4
#define Mouse       5
#define Fun         6
#define Button      7
#define Game        8
#define Gameplus    9

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos { compatible = "zmk,combos"; };
    keymap {
        compatible = "zmk,keymap";

        Base {
            label = "Base";
            bindings = <
              &kp Q       &kp W       &kp E         &kp R         &kp T        &kp Y    &kp U        &kp I       &kp O       &kp P
              &hm LALT A  &hm LCTRL S &hm LGUI D    &hm LSHIFT F  &kp G        &kp H    &hm RSHFT J  &hm RGUI K  &hm RCTRL L &hm RALT SEMICOLON
  &kp TAB     &kp Z       &kp X       &kp C         &kp V         &kp B        &kp N    &kp M        &kp COMMA   &kp DOT     &kp SLASH    &kp APOSTROPHE
                                      &kp BSPC      &kp SPACE     &mo Sym      &mo Num  &kp RET      &trans
            >;
        };

        Num {
            label = "Num";
            bindings = <
              &kp N1    &kp N2   &kp N3    &kp N4   &kp N5          &trans    &trans        &trans  &trans    &trans
              &kp N6    &kp N7   &kp N8    &kp N9   &kp N0          &kp LEFT  &kp DOWN      &kp UP  &kp RIGHT &trans
&trans        &trans   &kp C_PP   &kp C_VOL_DN   &kp C_MUTE    &kp C_VOL_UP      &trans  &trans  &trans  &trans  &trans  &trans
                                         &trans        &trans     &trans      &trans    &trans        &trans
            >;
        };

        Sym {
            label = "Sym";
            bindings = <
        &kp EXCL  &kp AT  &kp HASH  &kp DOLLAR  &kp PERCENT               &trans      &trans         &trans           &kp LBKT   &kp RBKT
        &kp CARET  &kp AMPERSAND  &kp KP_ASTERISK  &hm LSHFT SQT  &kp DQT       &kp ESC     &hm RSHFT MINUS     &kp EQUAL     &kp GRAVE   &kp NUBS
&trans  &kp TILDE    &trans  &trans    &trans      &trans                 &trans      &trans      &trans           &trans   &trans  &kp CAPS
                          &trans    &trans      &trans         &trans     &trans         &trans
            >;
        };

        Fun {
            label = "Fun";
            bindings = <
        &bootloader  &trans  &trans  &trans  &to 4     &trans  &trans  &trans  &kp END  &kp F1
        &trans       &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &kp F10
&trans  &trans       &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &kp F20  &kp F7
                             &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        Gaming {
            bindings = <
            &kp Z           &kp X  &kp C      &kp V         &sl 5     &trans  &trans  &trans  &trans  &trans
            &kp TAB         &kp Q  &kp W      &kp E         &kp R     &trans  &trans  &trans  &trans  &trans
&kp ESCAPE  &kp LEFT_SHIFT  &kp A  &kp S      &kp D         &kp F     &trans  &trans  &trans  &trans  &trans  &trans
                                   &kp LCTRL  &kp LEFT_ALT  &trans    &trans  &trans  &trans
            >;

            label = "Gaming";
        };

        Gaming+ {
            bindings = <
        &kp F10  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp T     &kp RA(RC(Y))  &kp RA(RC(U))  &trans  &trans  &kp LC(RA(DEL))
        &kp L    &kp O         &kp Y         &kp K         &kp G     &kp F5         &trans         &trans  &trans  &trans
&trans  &to 0    &trans        &trans        &trans        &trans    &trans         &trans         &trans  &trans  &trans           &kp LA(F4)
                               &kp J         &kp I         &kp M     &trans         &trans         &trans
            >;

            label = "Gaming+";
        };
    };
};
